<div class="uk-flex-center" uk-grid>
  <div class="uk-width-1-3@m">
    <p class="uk-text-center uk-margin-large-top uk-margin-medium-bottom">
      <span class="uk-icon uk-margin-small-right" uk-icon="icon: logo-color-dark; ratio: 0.7"></span>
    </p>

    <app-loading-spinner *ngIf="busy"></app-loading-spinner>

    <form [formGroup]="form" *ngIf="busy == false">
      <div class="uk-card uk-card-primary uk-card-body uk-card-shadow-small">
        <h3 class="uk-card-title">Get Authorized</h3>
        <div class="uk-margin">
          <input class="uk-input uk-form-large" formControlName="username" placeholder="CPF" type="text"
            mask="###.###.###-###"
            [ngClass]="{'uk-form-danger': (form.controls.username.valid == false && form.controls.username.pristine == false)}">
        </div>
        <div class="uk-margin">
          <input class="uk-input uk-form-large" formcontrolName="password" placeholder="password" type="password">
        </div>
        <div class="uk-margin uk-text-right">
          <button type="button" class="uk-button uk-button-default" (click)="submit()">Sign in</button>
        </div>
      </div>
    </form>

    <p class="uk-text-center" *ngIf="busy == false">
      <a [routerLink]="['/signup']"
        class="uk-botton uk-width-1-1 uk-button-large uk-button-primary uk-margin-small-botton">Sign up</a>
      <br>
      <a [routerLink]="['/reset-password']" class="uk-botton uk-button-link">I forgot my password</a>
    </p>

  </div>
</div>
